<div id="about" class="container-fluid">
<div id="aboutjumbo" class="jumbotron">
    <h1 class="display-3">About me</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>Coming soon</p>
</div>
</div>